@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$colors: (
  Green: hsl(75, 94%, 57%),
  White: hsl(0, 0%, 100%),
  Grey: #333333,
  Dark-Grey: #1f1f1f,
  Off-Black: #141414,
);

body {
  background: map-get($colors, Off-Black);
  color: white;
  height: 100dvh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100dvh;
  @include flex;
}

.App {
  @include flex;
  background: map-get($colors, Dark-Grey);
  margin-block: auto;
  margin-inline: auto;
  max-width: fit-content;
  padding: 2rem;
  border-radius: 0.5rem;

  .bio-container {
    @include flex;

    img {
      height: 6em;
      border-radius: 100rem;
    }

    .name {
      font-size: 1.75rem;
    }

    .location {
      color: map-get($colors, Green);
    }

    .quote {
      font-size: 14px;
    }
  }
}

.links-container {
  @include flex;

  .link {
    width: 100%;
    margin-block: 0.5rem;
    background: map-get($colors, Grey);
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    padding: 0.75rem;
    cursor: pointer;

    &:hover {
      background: map-get($colors, Green);
      color: map-get($colors, Dark-Grey);
    }
  }
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;

  @media screen and (max-width: 375px) {
    flex-direction: column;
  }
}
