@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

$colors: (
  Green: hsl(75, 94%, 57%),
  White: hsl(0, 0%, 100%),
  Grey: #333333,
  Dark-Grey: #1f1f1f,
  Off-Black: #141414,
);

body {
  background: map-get($colors, Off-Black);
  color: white;
  height: 100dvh;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@mixin flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  height: 100dvh;
  @include flex;
}

.App {
  @include flex;
  background: map-get($colors, Dark-Grey);
  margin-block: 2rem;
  margin-inline: auto;
  max-width: fit-content;
  padding: 2rem;
  border-radius: 0.5rem;

  @media screen and (max-width: 430px) {
    padding: 1.5rem;
  }

  .card {
    width: 20rem;

    @media screen and (max-width: 430px) {
      width: 16.5rem;
    }

    .bio-container {
      @include flex;

      img {
        width: 5.5em;
        border-radius: 100rem;
        margin-top: 1.5rem;
      }

      .name {
        font-size: 1.5rem;
        font-weight: normal;
        margin-top: 1.5rem;
      }

      .location {
        color: map-get($colors, Green);
      }

      .quote {
        margin-block: 1.5rem;
      }

      .location,
      .quote {
        font-size: 14px;
      }
    }
  }

  .links-container {
    @include flex;

    .link {
      width: 100%;
      margin-block: 0.5rem;
      background: map-get($colors, Grey);
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 0.5rem;
      padding: 1rem;
      cursor: pointer;
      user-select: none;

      &:hover {
        background: map-get($colors, Green);
        color: map-get($colors, Dark-Grey);

        @media screen and (max-width: 430px) {
          background: map-get($colors, Grey);
          color: white;
        }
      }

      @media screen and (max-width: 430px) {
        &:active {
          background: map-get($colors, Green);
          color: map-get($colors, Dark-Grey);
        }
      }
    }
  }
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 0.5rem;

  @media screen and (max-width: 430px) {
    flex-direction: column;
  }
}
